{% extends 'shared/_MainLayout.html' %}
{% load static %}

{% block content %}

    <main class="main-content dt-sl mt-4 mb-3">
        <div class="container main-container">
            <div class="card mb-2 mt-4">
                <div class="card-body contact-us">
                    <div class="contact-us__container">
                        <div class="row">
                            <div class="col-12 col-lg-6 pb-4 pb-lg-0">
                                <h4 class="contact-us__header card-title">آدرس ما</h4>
                                <div class="contact-us__address">
                                    <p>{{ site_info.address }}
                                        <br>ایمیل:
                                        {{ site_info.email }}
                                        <br>شماره تلفن:
                                        {{ site_info.phone }}</p>

                                    <p><strong>درباره ما</strong>
                                        <br>
                                        {{ site_info.aboutus|safe }}
                                       </p>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <h4 class="contact-us__header card-title pb-2">یک پیام برای ما بگذارید</h4>
                                <hr class="pb-2">
                                {%  if messages %}
                                {% for message in messages %}
                                <div class="alert alert-info" role="alert">
                                    {{ message }}
                                </div>
                                {% endfor %}
                            {% endif %}
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="form-message">{{ contact_form.name.label }}</label>
                                            {{ contact_form.name }}
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="form-message">{{ contact_form.email.label }}</label>
                                            {{ contact_form.email }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="form-message">{{ contact_form.subject.label }}</label>
                                        {{ contact_form.subject }}
                                    </div>
                                    <div class="form-group">
                                        <label for="form-message">{{ contact_form.message.label }}</label>
                                        {{ contact_form.message }}
                                    </div>
                                    <button type="submit" class="btn btn-primary">ارسال پیام</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}