{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#f7858d">
    <meta name="msapplication-navbutton-color" content="#f7858d">
    <meta name="apple-mobile-web-app-status-bar-style" content="#f7858d">

    <title>{% block title %}
        ورود به حساب کاربری
    {% endblock %}
    </title>

    {% include 'shared/_HeaderReferences.html' %}

</head>
<body>
<div class="wrapper">

    {% block content %}
        <!-- Start mini-header -->
        <header class="mini-header pt-4 pb-4">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <div class="logo-area-mini-header">
                            <a href="">
                                <img src="{% static 'images/logo.png' %}" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- End mini-header -->

        <!-- Start main-content -->
        <main class="main-content dt-sl mt-4 mb-3">
            <div class="container main-container">

                <div class="row">
                    <div class="col-xl-4 col-lg-5 col-md-7 col-12 mx-auto">
                        <div class="form-ui dt-sl dt-sn pt-4">
                            <div class="section-title title-wide mb-1 no-after-title-wide">
                                <h2 class="font-weight-bold">تغییر رمز عبور</h2>
                            </div>
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="form-row-title">
                                    <h3>رمز عبور قبلی</h3>
                                </div>
                                <div class="form-row with-icon">
                                    <input type="password" class="input-ui pr-2" name="old_password"
                                           required placeholder="رمز عبور خود را وارد نمایید" id="id_old_password">
                                    <i class="mdi mdi-lock-open-variant-outline"></i>
                                </div>
                                <div class="form-row-title">
                                    <h3>رمز عبور جدید</h3>

                                </div>
                                <div class="form-row with-icon">
                                    <input type="password" class="input-ui pr-2" name="new_password1"
                                           id="id_new_password1" required placeholder="رمز عبور خود را وارد نمایید">
                                    <i class="mdi mdi-lock-reset"></i>
                                </div>
                                <div class="form-row-title">
                                    <h3>تکرار رمز عبور جدید</h3>
                                </div>
                                <div class="form-row with-icon">
                                    <input type="password" class="input-ui pr-2" name="new_password2"
                                           id="id_new_password2" required placeholder="رمز عبور خود را وارد نمایید">
                                    <i class="mdi mdi-lock-reset"></i>
                                </div>
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="form-row-title">
                                            <p style="color: #ff0000;">{{ message|safe }}</p>
                                        </div>
                                    {% endfor %}
                                {% endif %}

                                <div class="form-row mt-3">
                                    <button class="btn-primary-cm btn-with-icon mx-auto w-100" type="submit">
                                        <i class="mdi mdi-lock-reset"></i>
                                        تغییر رمز عبور
                                    </button>
                                </div>
                                <div class="form-footer text-right mt-3">
                                    <span class="d-block font-weight-bold">کاربر جدید هستید؟</span>
                                    <a href="{% url 'register' %}" class="d-inline-block mr-3 mt-2">ثبت نام در دیدیکالا</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </main>
        <!-- End main-content -->

        <!-- Start mini-footer -->
        <footer class="mini-footer dt-sl">
            <div class="container main-container">
                <div class="row">
                    <div class="col-12">
                        <ul class="mini-footer-menu">
                            <li><a href="{% url 'contact' %}">تماس با ما</a></li>
                        </ul>
                    </div>
                    <div class="col-12 mt-2 mb-3">
                        <div class="footer-light-text">
                            استفاده از مطالب فروشگاه اینترنتی دیدیکالا فقط برای مقاصد غیرتجاری و با ذکر منبع بلامانع
                            است. کلیه حقوق این سایت متعلق به (فروشگاه آنلاین دیدیکالا) می‌باشد.
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <div class="copy-right-mini-footer">
                            Copyright © 2019 Didikala
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End mini-footer -->
    {% endblock %}


    {% include 'shared/_FooterReferences.html' %}

    {% block footer_ref %}
        <!--if we have another references for any pages we can add here-->
    {% endblock %}
</div>
</body>
</html>>