{% extends 'shared/_MainLayout.html' %}
{% load static %}
{% load render_partial %}
{% load humanize %}

{% block header_ref %}
    <link rel="stylesheet" href="{% static 'css/vendor/nouislider.min.css' %}">
{% endblock %}

{% block title %}
    کامنت‌های شما
{% endblock %}

{% block description %}
    کامنت‌های شما
{% endblock %}

{% block keyword %}
    کامنت‌های شما
{% endblock %}

{% block content %}

    <main class="main-content dt-sl mt-4 mb-3" style="transform: none;">
        <div class="container main-container" style="transform: none;">
            <div class="row" style="transform: none;">
                <!-- Start Sidebar -->
                {% render_partial 'profile_sidebar' %}
                <!-- End Sidebar -->

                <!-- Start Content -->
                <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-title text-sm-title title-wide mb-1 no-after-title-wide dt-sl mb-2 px-res-1">
                                <h2>نقد و نظرات</h2>
                            </div>
                            <div class="dt-sl">
                                <div class="row">
                                    {% if comments %}
                                        {% for com in comments %}
                                            <div class="col-lg-6 col-md-12">
                                                <div class="card-horizontal-product">
                                                    <div class="card-horizontal-product-thumb">
                                                        <a href="{{ com.product.get_absolute_url}}">
                                                            <img src="{{ com.product.image.url }}" alt="">
                                                        </a>
{#                                                        <small class="font-weight-bold">امتیاز من به محصول</small>#}
{#                                                        <div class="rating-stars">#}
{#                                                            <i class="mdi mdi-star active"></i>#}
{#                                                            <i class="mdi mdi-star active"></i>#}
{#                                                            <i class="mdi mdi-star active"></i>#}
{#                                                            <i class="mdi mdi-star active"></i>#}
{#                                                            <i class="mdi mdi-star"></i>#}
{#                                                        </div>#}
                                                    </div>
                                                    <div class="card-horizontal-product-content">
                                                        <div class="label-status-comment">{{ com.get_status_display }}</div>
                                                        <div class="card-horizontal-comment-title">
                                                            <a href="#">
                                                                <h3>{{ com.subject }}</h3>
                                                            </a>
                                                        </div>
                                                        <div class="card-horizontal-comment">
                                                            <p>
                                                                {{ com.comment }}
                                                            </p>
                                                        </div>
                                                        <div class="card-horizontal-product-buttons">
                                                            <button class="btn btn-light"
                                                                    onClick="location.href='{% url 'delete_comment' com.id %}'">
                                                                حذف
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="col-lg-6 col-md-12">
                                            <div class="card-horizontal-product">

                                                <h6 class="text-center pt-5 text-info">
                                                    تاکنون هیچ نظری را برای محصولات ما در سایت ثبت نکرده‌اید
                                                </h6>
                                                <h6 class="text-center pt-6 text-info">
                                                    منتظر نظرات شما هستیم
                                                </h6>

                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Content -->
            </div>

            {% render_partial 'product_slider' %}

        </div>
    </main>

{% endblock %}

{% block footer_ref %}
    <script src="{% static 'js/vendor/nouislider.min.js' %}"></script>
    <script src="{% static 'js/vendor/wNumb.js' %}"></script>
    <script src="{% static 'js/vendor/ResizeSensor.min.js' %}"></script>
    <script src="{% static 'js/vendor/theia-sticky-sidebar.min.js' %}"></script>
{% endblock %}