{% load static %}
<!-- Bootstrap -->
<link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
<!-- jQuery !-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
<!-- jQuery UI !-->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<!-- Plugins -->
<link rel="stylesheet" href="{% static 'css/vendor/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/jquery.horizontalmenu.css' %}">
<!-- Font Icon -->
<link rel="stylesheet" href="{% static 'css/vendor/materialdesignicons.min.css' %}">
<!-- Main CSS File -->
<link rel="stylesheet" href="{% static 'css/main.css' %}">