{% load static %}
<!-- Start footer -->
<footer class="main-footer dt-sl">
    <div class="back-to-top">
        <a href="#"><span class="icon"><i class="mdi mdi-chevron-up"></i></span> <span>بازگشت به
                        بالا</span></a>
    </div>
    <div class="container main-container">
        <div class="footer-services">
            <div class="row">
                <div class="service-item col">
                    <a href="#" target="_blank">
                        <img src="{% static 'images/svg/delivery.svg' %}">
                    </a>
                    <p>تحویل اکسپرس</p>
                </div>
                <div class="service-item col">
                    <a href="#" target="_blank">
                        <img src="{% static 'images/svg/contact-us.svg' %}">
                    </a>
                    <p>پشتیبانی 24 ساعته</p>
                </div>
                <div class="service-item col">
                    <a href="#" target="_blank">
                        <img src="{% static 'images/svg/payment-terms.svg' %}">
                    </a>
                    <p>پرداخت درمحل</p>
                </div>
                <div class="service-item col">
                    <a href="#" target="_blank">
                        <img src="{% static 'images/svg/return-policy.svg' %}">
                    </a>
                    <p>۷ روز ضمانت بازگشت</p>
                </div>
                <div class="service-item col">
                    <a href="#" target="_blank">
                        <img src="{% static 'images/svg/origin-guarantee.svg' %}">
                    </a>
                    <p>ضمانت اصل بودن کالا</p>
                </div>
            </div>
        </div>
        <div class="footer-widgets">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="widget-menu widget card">
                        <header class="card-header">
                            <h3 class="card-title"> Atrotech  </h3>
                        </header>
                        <ul class="footer-menu">
                            <li>
                                <a href="/contact_us"> تماس با ما  </a>
                            </li>
                            <li>
                                <a href="{% url 'faq_page' %}">پاسخ به پرسش‌های متداول</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="description">
        <div class="container main-container">
            <div class="row">
                <div class="site-description col-12 col-lg-8">
                    <h1 class="site-title">{{ site_info.title }}</h1>
                    <p>
                           با برخوردارى از نيروى انسانى متخصص و پشتوانه علمى و تجربى، با استفاده از آخرين روش هاى فن آورى و مهندسى موفق به ارائه خدمات گسترده و با كيفيت براى مشتريان گرديده .توسعه و بالندگی از طریق بازنگری اهداف، تدوین برنامه‌ها، اولویت‌بندی فعالیت‌ها و بهبود مستمر سرمشق شرکت مهندسى آتروتك بوده و دستیابی به این اهداف، نیازمند ترویج فرهنگ تعالی، حفظ و بهبود ارزش‌ها و اصول اخلاقی شركت و رعایت مسئولیت‌های اجتماعی است.
                    </p>
                </div>

                <div class="site-description col-12 col-lg-2">
                    <img src="{% static 'images/symbol-02.png' %}">
                </div>

                <div class="site-description col-12 col-lg-2">
                    <img src="{% static 'images/symbol-01.png' %}">
                </div>

            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container main-container">
            <p class="text-danger">
               <a class="footer-bottom-text font-second" href="www.atrotech.ir" target="_blank">Atrotech © 2020. All Right Reserved</a>
            </p>
        </div>
    </div>
</footer>
<!-- End footer -->
